Push reminder - DO NOT CHECK IN.txt
source/thirdparty/googletest/make/gtest-all.o
source/thirdparty/googletest/make/gtest.a
assets/glboiler
source/*.o
source/geom/*.o
source/macosx/*.o
source/tests/*.o
source/tests/geom/*.o
source/main/*.o
source/thirdparty/lpng1626/libpng-config
source/thirdparty/lpng1626/libpng.a
source/thirdparty/lpng1626/libpng.pc
source/thirdparty/lpng1626/libpng16.16.dylib
source/thirdparty/lpng1626/libpng16.dylib
source/thirdparty/lpng1626/makefile.darwin
source/thirdparty/lpng1626/*.o
glboiler
glboiler_tests
source/thirdparty/lpng1626/pnglibconf.h
source/thirdparty/lpng1626/pngtest
source/md3/*.o
source/tests/utils/*.o
source/utils/*.o
*.o
*.opensdf
